<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multixtream">

    <application
        android:allowBackup="false"
        android:label="MultiXtream"
        android:icon="@mipmap/ic_launcher">
        <!-- Nessuna activity: è un plugin -->
    </application>
</manifest>
